
/*  NAVBAR  */
nav {
  background-color: var(--bg);
  color: var(--text-color);
}
nav a.active {
  text-decoration: underline var(--secondary);
  text-underline-offset: 6px;
}
.logo {
  text-decoration: none !important;
}
.mobile-nav {
  background-color: transparent;
}
.mobile-nav a.active {
  text-decoration: none;
  color: var(--secondary);
}
.mobile-ul li {
  width: 100%;
}
.mobile-ul a {
  display: block;
  width: 100%;
  border: 1px solid #f5f5f5;
  text-align: center;
  padding: 4px;
  margin-bottom: 4px;
  border-radius: 16px;
}

.mobile-ul a.active {
  border: 1px solid var(--secondary);
}

/* LOGIN & REGISTER */
.login-container,
.register-container {
  background-color: var(--bg);
}
.login-register .register-btn {
  color: var(--btn1-border);
}

/*  HOME  */
.home {
  background-color: var(--bg);
}

.reports-container {
  grid-template-columns: repeat(3, 1fr);
}

/* GLOBALS */
.error-msg {
  color: var(--danger-color);
  font-weight: 300;
}

@media (max-width: 1200px) {
  .reports-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1040px){
  .report-details{
    flex-wrap: wrap;
  }
  .report-details .images{
    width: 100%;
    
  }
}

@media (max-width: 843px) and (min-width: 768px) {
  .home-wrapper {
    padding: 0px 35px;
  }
}
@media (max-width: 700px) {
  .reports-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 425px) {
  .home-wrapper .btns-wrapper {
    flex-wrap: wrap;
  }
}
@media (max-width: 420px) {
  .profile-info {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
